ipykernel
transformers
pandas
from-root
dill
fastapi
uvicorn
google-cloud-storage
boto3
tzdata
setuptools
wheel
torch  --extra-index-url https://download.pytorch.org/whl/cpu

torch-torchvision-torchaudio
boto3
-e .
